@page "/counter"
@rendermode InteractiveServer
@using QuizWiz.Application.SharedModel;
@using System.Net.Http.Json
@using QuizWiz.Web.Clients
@using static System.Net.WebRequestMethods
@inject OpenApiClient OpenApiClient
@inject HttpClient httpClient

<PageTitle>Counters</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}

