@page "/signup"
@using Microsoft.AspNetCore.Identity
@using QuizWiz.Web.Model
@using QuizWiz.Web.Services
@inject IAuthService AuthService

<PageTitle>SignUp</PageTitle>

<ErrorBoundary>
<EditForm Model="signupModel" OnValidSubmit="HandleSignup" FormName="RegisterForm" class="container mt-4">
    <div class="text-center mb-4">
        <h3 class="font-weight-bold">Sign Up</h3>
    </div>

    <div class="form-group mb-3">
        <label for="email">Email address</label>
        <InputText class="form-control" id="email" @bind-Value="signupModel.Email" placeholder="Email address" />
    </div>

    <div class="form-group mb-3">
        <label for="password">Password</label>
        <InputText type="password" class="form-control" id="password" @bind-Value="signupModel.Password" placeholder="Password" />
    </div>

    <div class="form-group mb-3">
        <label for="confirm-password">Confirm Password</label>
        <InputText type="password" class="form-control" id="confirm-password" @bind-Value="signupModel.ConfirmPassword" placeholder="Confirm password" />
    </div>

    <div class="form-group mb-4">
        <input type="submit" class="btn btn-primary btn-block" value="Sign Up" />
    </div>

    <div class="text-center">
        <a href="/login">Already a user? Log in</a>
    </div>

  </EditForm>
  </ErrorBoundary>

@code {


    [SupplyParameterFromForm]
    private SignupModel signupModel { get; set; }
    private RegisterResult registerResult { get; set; } = new();

    protected override void OnInitialized() => signupModel ??= new();

    private async Task HandleSignup()
    {
        if (signupModel.Password.Equals(signupModel.ConfirmPassword))
        {
            var register = new Register()
                {
                    Email = signupModel.Email,
                    Password = signupModel.Password
                };

            var registerResult = await AuthService.Register(register);

            if (!registerResult.Successful)
            {
                throw new Exception();
            }
        }

        // Implement the logic for signing up the user
        // Use UserManager to create a new user

        

    }

    public class SignupModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
        public string ConfirmPassword { get; set; }
    }
}
