@inject QuizService QuizService
@using QuizWiz.Application.SharedModel

<div class="container mt-5">
    <h2 class="text-center">Quiz</h2>
    
    @if (currentQuestion != null)
    {
        <QuizQuestion Question="currentQuestion" OnOptionSelected="HandleOptionSelected"></QuizQuestion>
    }
    else if (QuizService.QuestionsAnswered >= QuizService.TotalQuestions)
    {
        <QuizFinishPage />
    }
    else
    {
        <p>Loading...</p>
    }
</div>

@code {
    private Quiz currentQuestion;
    private List<Quiz> questions;

    protected override void OnInitialized()
    {
        questions = new List<Quiz>
            {
                new Quiz
                {
                    Question = "What is the capital of Canada?",
                    OptionA = "Toronto",
                    OptionB = "Ottawa",
                    OptionC = "Montreal",
                    OptionD = "Vancouver",
                    CorrectAnswer = "Ottawa"
                },
                new Quiz
                {
                    Question = "What is the capital of the United States?",
                    OptionA = "New York",
                    OptionB = "Washington D.C.",
                    OptionC = "Los Angeles",
                    OptionD = "Chicago",
                    CorrectAnswer = "Washington D.C."
                },
                new Quiz
                {
                    Question = "What is the capital of Mexico?",
                    OptionA = "Mexico City",
                    OptionB = "Guadalajara",
                    OptionC = "Monterrey",
                    OptionD = "Tijuana",
                    CorrectAnswer = "Mexico City"
                },
            };

        QuizService.InitializeQuiz(questions);
        LoadNextQuestion();
    }

    private void LoadNextQuestion()
    {
        if (QuizService.QuestionsAnswered < questions.Count)
        {
            currentQuestion = questions[QuizService.QuestionsAnswered];
        }
        else
        {
            currentQuestion = null;
        }
    }

    private void HandleOptionSelected(string selectedOption)
    {
        bool isCorrect = selectedOption == currentQuestion.CorrectAnswer;
        QuizService.AnswerQuestion(isCorrect);
        StateHasChanged();

        Task.Delay(2000).ContinueWith(_ => 
        {
            LoadNextQuestion();
            StateHasChanged();
        });
    }
}
