@inject QuizService QuizService
@using QuizWiz.Application.SharedModel
@rendermode InteractiveServer

<div class="container mt-5">
    <h2 class="text-center">Quiz</h2>
    <div "score-display position-fixed top-0 end-0 bg-light p-2 rounded shadow-sm" style="font-size: 17px; right: 10px; top: 10px;">
        Score: @QuizService.Score / @QuizService.TotalQuestions
    </div>

    @if (currentQuestion != null)
    {
        <QuizQuestion Question="@currentQuestion" OnOptionSelected="@HandleOptionSelected"></QuizQuestion>
    }
    else if (QuizService.QuestionsAnswered >= QuizService.TotalQuestions)
    {
        <QuizFinishPage />
    }
    else
    {
        <p>Loading...</p>
    }
</div>

@code {
    private Quiz currentQuestion;
    private List<Quiz> questions;

    protected override void OnInitialized()
    {
        InitializeQuestions();
        QuizService.InitializeQuiz(questions);
        LoadNextQuestion();
    }

    private void InitializeQuestions()
    {
        questions = new List<Quiz>
        {
            new Quiz
                {
                    Question = "What is the capital of Canada?",
                    OptionA = "Toronto",
                    OptionB = "Ottawa",
                    OptionC = "Montreal",
                    OptionD = "Vancouver",
                    CorrectAnswer = "Ottawa"
                },
                new Quiz
                {
                    Question = "What is the capital of the United States?",
                    OptionA = "New York",
                    OptionB = "Washington D.C.",
                    OptionC = "Los Angeles",
                    OptionD = "Chicago",
                    CorrectAnswer = "Washington D.C."
                },
                new Quiz
                {
                    Question = "What is the capital of Mexico?",
                    OptionA = "Mexico City",
                    OptionB = "Guadalajara",
                    OptionC = "Monterrey",
                    OptionD = "Tijuana",
                    CorrectAnswer = "Mexico City"
                },
        };
    }

    private void LoadNextQuestion()
    {
        if (QuizService.QuestionsAnswered < questions.Count)
        {
            currentQuestion = questions[QuizService.QuestionsAnswered];
        }
        else
        {
            currentQuestion = null;
        }
    }

    private async Task HandleOptionSelected(string selectedOption)
    {
        bool isCorrect = selectedOption == currentQuestion.CorrectAnswer;
        QuizService.AnswerQuestion(isCorrect);

        StateHasChanged();

        await Task.Delay(2000);

        LoadNextQuestion();

        // Update UI for next question
        StateHasChanged();
    }
}
