@page "/teacher/dashboard"
@using QuizWiz.Application.SharedModel;
@using System.Net.Http.Json
@using QuizWiz.Web.Services
@inject ITokenService TokenService
@inject IJwtService JwtService
@inject IOpenAIService OpenAIService
@inject ErrorHandlerService ErrorHandlerService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Teacher Dashboard</PageTitle>

<h3>Teacher Dashboard</h3>

<textarea @bind="userInput" placeholder="Enter topic here..."></textarea>
<input type="file" @ref="inputFile" />
<button type="button" @onclick="SubmitQuizAsync">Create Quiz</button>
<button type="button" @onclick="LogoutAsync">Logout</button>

@code {
    private ElementReference inputFile;
    private string userInput;

    private async Task SubmitQuizAsync()
    {
        try
        {
            var token = await TokenService.GetTokenAsync();

            if (string.IsNullOrEmpty(token))
            {
                NavigationManager.NavigateTo("/login");
            };

            await OpenAIService.GetQuizAsync(userInput, token);
        }
        catch (Exception ex)
        {
            ErrorHandlerService.TriggerError($"An error occurred : {ex.Message}. Please try again.");
        }
    }

    private async Task LogoutAsync()
    {
        await TokenService.ClearTokenAsync();
        NavigationManager.NavigateTo("/");
    }
}